<h1>Posts#show</h1>
<p>The contents attribute isn't shown on purpose.</p>
<p><%= link_to "Create New Post", new_post_path %> | <%= link_to "Index", root_path %></p>
<p>Title: <%= @post.title %></p>
<p>Category: <%= @post.category.name %></p>

